/* larger view */
@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 auto;
    }

    #cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    #menu {
        display: none;
    }
}